@media (max-width: 575px) {
  .navbar {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
  .container{
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: 575px) {
  .navbar .navbar-nav{
    display: inline-flex;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .container{
    max-width: 800px;
  }
}