.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #E8F5E9!important;
    border-radius: 10 !important;
    border-color: indigo !important;
    color : black !important;
    margin : 0px !important;
    padding : 0px !important;
}
