/* entire container, keeps perspective */
#fullCardComponent {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	#fullCardComponent:hover #flipper, .fullCardComponent:hover #flipper {
		transform: rotateY(180deg);
	}

#fullCardComponent, #frontCardComponent, #backCardComponent, #card {
	width: 340px !important;
	height: 280px !important;
}

/* flip speed goes here */
#flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
#frontCardComponent, #backCardComponent {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
#frontCardComponent {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
#backCardComponent {
	transform: rotateY(180deg);
}

.html {
	font-size: 1.3vh;
	border-radius: 5px;
}
